<h1>Health of <span class="highlighted">Graylog2</span> servers</h1>

<div id="health-throughput">
  <span class="health-throughput-title">Total throughput:</span>

  <span id="health-throughput-current"><%= ServerValue.total_current_messages_throughput %></span>
  <span class="health-throughput-label">Current</span>

  &nbsp;

  <span id="health-throughput-highest"><%= ServerValue.total_highest_messages_throughput %></span>
  <span class="health-throughput-label">Highest</span>

  &nbsp;

  <span class="health-throughput-explanation">messages per minute</span>
</div>

<br />

<table>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>PID</th>
      <th>Environment</th>
      <th>Version</th>
      <th>Current throughput</th>
      <th>Highest throughput</th>
      <th>Additional fields distribution</th>
      <th>Latest update</th>
    </tr>
  </thead>
  <tbody>
    <% @servers.each do |server|  %>
      <tr>
        <td><%= server.info['local_hostname'] %></td>
        <td><%= server.info['pid'] %></td>
        <td><%= server.info['env'] %></td>
        <td><%= server.info['version'] %></td>
        <td><%= server.messages_throughput['current'] %></td>
        <td><%= server.messages_throughput['highest'] %></td>
        <td><%= server.additional_fields.inspect %></td>
        <td><%= server.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br />
<h2>Used memory (Megabyte):</h2>
<div id="graph-used-memory" style="width: 100%; height: 200px;"></div>

<script type='text/javascript'>
  function plot(inject, data){
    $.plot($(inject),
      [ {
          color: '#fd0c99',
          shadowSize: 10,
          data: data,
          points: { show: false, },
          lines: { show: true, fill: true }
      } ],
      {
        xaxis: { mode: 'time' },
        yaxis: { ticks: 10 },
        grid: {
          show: true,
          color: '#ccc',
          borderWidth: 0,
        },
        selection: { mode: 'x' }
      }
    );
  }

  plot("#graph-used-memory", <%= array_for_flot_with_timeseries(@used_memory) %>)

  // Update current throughput every seconds
  setInterval(function(){
      $.post("/health/currentthroughput", function(data) {
        json = eval('(' + data + ')');
        count = $("#health-throughput-current");
        count.html(json.count);
        count.fadeOut(200, function() {
          count.fadeIn(200);
        });
      });
  }, 1000);
</script>
